apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kubernetes-operator.fullname" . }}
  labels:
    {{- include "kubernetes-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - l1fe.network
  resources:
  - onetsetupkeys
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - l1fe.network
  resources:
  - onetsetupkeys/finalizers
  verbs:
  - update
- apiGroups:
  - l1fe.network
  resources:
  - onetsetupkeys/status
  verbs:
  - get
  - patch
  - update
{{- if or .Values.onenetAPI.key .Values.onenetAPI.keyFromSecret }}
- apiGroups:
  - l1fe.network
  resources:
  - onetgroups
  - onetresources
  - onetroutingpeers
  - onetpolicies
  verbs:
  - get
  - patch
  - update
  - list
  - watch
  - create
  - delete
- apiGroups:
  - l1fe.network
  resources:
  - onetgroups/status
  - onetresources/status
  - onetroutingpeers/status
  - onetpolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - l1fe.network
  resources:
  - onetgroups/finalizers
  - onetresources/finalizers
  - onetroutingpeers/finalizers
  - onetpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - services/finalizers
  verbs:
  - update
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - patch
  - update
  - list
  - watch
  - create
  - delete
{{- end }}
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
{{- if or (or .Values.onenetAPI.key .Values.onenetAPI.keyFromSecret) .Values.clusterSecretsPermissions.allowAllSecrets }}
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
{{- if or .Values.onenetAPI.key .Values.onenetAPI.keyFromSecret }}
  - patch
  - update
  - create
  - delete
{{- end }}
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "kubernetes-operator.fullname" . }}
  labels:
    {{- include "kubernetes-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "kubernetes-operator.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "kubernetes-operator.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "kubernetes-operator.fullname" . }}
  labels:
    {{- include "kubernetes-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "kubernetes-operator.fullname" . }}
  labels:
    {{- include "kubernetes-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "kubernetes-operator.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "kubernetes-operator.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
